<div class="container-fluid">
    <div class="row main-row">
        <div class="row text-dashboard">
            <span>Checkout</span>
        </div>
        <div class="row">
            <div class="col-4">
                <img src="\assets\Rectangle 274.png" alt="image">
            </div>

        </div>

        <div class="row work">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row announcement">
                    <span class="for">Name on Card</span>
                    <div class="row message">
                        <div class="form-group small-input">
                            <input type="email" class="form-control" id="exampleFormControlInput1"
                                placeholder="name@example.com">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <span class="for">Card Number</span>
                            <div class="row message">
                                <div class="form-group small-input">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <span class="for">Expiration Date</span>
                            <div class="row message">
                                <div class="form-group small-input">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">

                                </div>
                            </div>
                        </div>
                        <div class="col-3">
                            <span class="for">CVV</span>
                            <div class="row message">
                                <div class="form-group small-input">
                                    <input type="email" class="form-control" id="exampleFormControlInput1"
                                        placeholder="name@example.com">

                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <span class="fora">Country</span>
                    <div class="row message">
                                <select class="form-select form-group small-input form-control "
                                    aria-label="Default select example" name="country" style="margin-left: 10px;">
                                    
                                </select>
                    </div>
                    </div>

                    <div class="row check">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                            <label class="form-check-label" for="flexCheckDefault">
                                I agree to Terms of Service & Privacy Policy
                            </label>
                          </div>
                          
                    </div>
                    <div class="row icons">
                        <div class="col-6">
                            <!-- <div class="row">
                                <div class="col-2 circle">
                                    <i class="fa-solid fa-upload" style="color: #000000;"></i>
                                </div>
                                <div class="col-2 circle">
                                    <i class="fa-solid fa-link" style="color: #000000;"></i>
                                </div>
                            </div> -->
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="button-container">
                                    <button type="submit" class="btn custombtn2">Back</button>
                                    <button type="submit" class="btn custombtn1">Pay Now</button>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="row announcement">
                        <div class="row course-name">
                            <div class="col-3 course-picture">
                                <img src="\assets\Rectangle 42.png" alt="image-course">

                            </div>
                            <div class="col-5 course-detail">
                                <span class="course-n">Course Name</span>
                                <div class="row course-code">
                                    <span>Course Code</span>
                                </div>
                            </div>

                        </div>
                        <div class="row course-fee">
                            <div class="col-6">
                            </div>
                            <div class="col-6">
                                <span>RS 5000</span>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row zoom">
                        <div class="row teacher-name">
                            <div class="col-4 teacher-picture">
                                <img src="\assets\Rectangle 42.png" alt="image-picture" style="width: 7rem;">

                            </div>
                            <div class="col teacher-detail">
                                <div class="row teacher-info">
                                    <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat ipsum, rerum tempora, deleniti sapiente soluta doloribus quod nulla ratione consectetur aut repudiandae nesciunt ducimus ....</span>
                                </div>
                                <div class="row teacher">
                                    <span>Teacher Name</span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>