<div class="container-fluid">
    <div class="row main-row">
        <div class="row text-dashboard">
            <span>Teacher's Dashbard</span>
        </div>
        <div class="row dashboard-detail">

            <div class="image">
                <div class="row image-text">
                    <div class="col-8">
                        <div class="row course-name">
                            <span>Course Name</span>
                        </div>
                        <div class="row teacher-name">
                            <span>Teacher Name</span>
                        </div>
                        <div class="row course-code">
                            <span>Class Code</span>
                        </div>
                    </div>
                    <div class="col-4 cl">
                        <button class="btn btn-primary custom-btn">Customize</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row assignment">
            <div class="row ass">
                <div class="row data">
                    <div class="col-6 heading">
                        <span>Material - Class Content</span>
                    </div>
                    <div class="col-6 heading2">
                        <div class="row heading-material">
                            <span>Create new material</span>
                        </div>
                        
                    </div>
                </div>
                <div class="row text">
                    <div class="col-10">
                        <div class="row detail">
                            <span>Motivate your students to reach proficiency in a course or unit by assigning
                                mastery content. Students will be able to work on their goals from their
                                homepage.</span>
                        </div>

                        <div class="row prof">
                            <div class="col-1 no">
                            </div>
                            <div class="col-11 info">
                                <div class="row">
                                    <div class="col-10">
                                        <div class="row txt">
                                            <div class="col-8">
                                                <span>Title</span>
                                            </div>
                                            <div class="col-4 dt">
                                                <span>Posted 14 Aug 2023</span>
                                            </div>
                                        </div>
                                        <div class="row para">
                                            <span> Instructions Motivate your students to reach proficiency in a
                                                course or unit by assigning mastery goals. Students will be able to
                                                work on their goals from their homepage.</span>
                                        </div>
                                        <div class="row prof">
                                            <div class="col-1 no" style="margin-left: 5px;" >
                                            </div>
                                            <div class="col-3 info">
                                               <div class="row title-doc">
                                                        <span>Titled Document.pdf</span>
                                                    </div>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-2 edit">
                                        <i class="fa-solid fa-pen-to-square edit-icon" style="color: #1a6100;"></i>
                                        <i class="fa-solid fa-trash" style="color: #fe0101;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-2 iconn">
                        <img src="assets\file.png" class="helloimg" alt="Book Image">
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>
