.text-dashboard {
    padding-left: 10px;
    color: #0447AC;
    font-family: Karla;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 5px;
}

.main-row {
    padding-top: 10px;
    padding-left: 21px;
}

.image {
    /* margin: 17px;
    width: 1400px; */
    height: 200px;
    flex-shrink: 0;
    border-radius: 50px;
    background: url('/assets/dashboard.jpg');
    background-repeat: repeat;
    background-size: 40%;
    opacity: 0.7;
}

.image-text {
    padding-top: 130px;
    padding-left: 20px;
    text-align: left;
    color: #FFF;
    font-family: Karla;
    font-style: normal;
    line-height: normal;
}

.course-name {
    font-size: 20px;

}

.teacher-name,
.course-code {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;

}

.custom-btn {
    border-radius: 20px;
    background: #FFF;
    color: #5D5959;
    font-family: Karla;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    position: relative;
    /* Change to relative positioning */
    margin-left: auto;
    /* Remove margin-left */
    margin-right: auto;
    /* Add margin-right to center the button horizontally */
    padding: 15px 30px;
    /* Use shorthand for padding (top/bottom, left/right) */

}

.cl {
    padding-right: 25px;
    text-align: end;
}

.assignment {
    margin-top: 15px;
    padding-left: 25px;
    margin-bottom: 20px;
}

.ass {
    border-radius: 40px;
    border: 1px solid #B9B9B9;
    background: rgba(246, 245, 245, 0.62);
}

.data {
    border-bottom: 1px solid #E1DCDC;
    margin-left: 2px;
}

.heading {
    color: #5D5959;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 10px;
    padding-bottom: 6px;
}

.heading2 {
    color: #7281FF;
    font-family: Karla;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: end;
    margin-top: 11px;
    padding-bottom: 3px;
}

.text {
    margin-top: 10px;
    padding-left: 25px;
}

.response-detail {
    border-left: 1px solid #E1DCDC;
    font-size: 0.8rem;
}

.res-det {
    font-size: 0.9rem;
    color: #5D5959;
    font-family: Karla;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 1rem;
}

.std-name {
    color: #5D5959;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.no {
    text-align: right;
    color: #5D5959;
    font-family: Karla;
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.custom-table th,
.custom-table td {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid #dee2e6;
    background-color: rgba(246, 245, 245, 0.62);

}

.custom-table thead th {
    border-bottom: 2px solid #dee2e6;
}

.custom-table tbody tr:last-child td {
    border-bottom: none;
}

.pagination-justify-right {
    display: flex;
    justify-content: flex-end;
}
.placeholder {
    height: 150px;
    background-color: #e9ecef;
    border: dashed 1px #adb5bd;
    border-radius: 0.75rem;
    text-align: center;
    line-height: 150px;
    margin-left: 10px;
    margin-top: 5px
}