<div class="container-fluid">
    <div class="row main-row">
        <div class="row text-dashboard">
            <span>Teacher's Dashbard</span>
        </div>
        <div class="row dashboard-detail">

            <div class="image">
                <div class="row image-text">
                    <div class="col-8">
                        <div class="row course-name">
                            <span>Course Name</span>
                        </div>
                        <div class="row teacher-name">
                            <span>Teacher Name</span>
                        </div>
                        <div class="row course-code">
                            <span>Class Code</span>
                        </div>
                    </div>
                    <div class="col-4 cl">
                        <button class="btn btn-primary custom-btn">Customize</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row assignment">
            <div class="row ass">
                <div class="row data">
                    <div class="heading">
                        <span>Student Responses</span>
                    </div>
                </div>
                <div class="row text">
                    <div class="col-lg-8">
                        <div class="row search-table">
                            <div class="input-group">
                                <i class="fa-solid fa-magnifying-glass input-group-text" id="basic-addon1" style="padding-top: 9px;"></i>
                                <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                                    aria-describedby="basic-addon1" style="font-size: 0.8rem;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="table-responsive">
                                <table class="table custom-table" style="font-size: 0.8rem;">
                                    <thead>
                                        <tr>
                                            <th>Student Name</th>
                                            <th>Material</th>
                                            <th>Points (100)</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <!-- Repeat this row for each student entry -->
                                        <tr>
                                            <td>Student Name</td>
                                            <td>2020-CS-130.pdf</td>
                                            <td>80</td>
                                        </tr>
                                        <!-- ... other rows ... -->
                                        <tr>
                                            <td>Student Name</td>
                                            <td>2020-CS-130.pdf</td>
                                            <td>80</td>
                                        </tr>
                                        <!-- ... other rows ... -->
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                        <!-- Pagination or other controls here -->
                        <div class="pagination-justify-right">
                            <nav>
                                <ul class="pagination">
                                    <li class="page-item disabled"><a class="page-link" href="#">Prev</a></li>
                                    <!-- ... other page items ... -->
                                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <div class="col-lg-4 response-detail">
                        <!-- Response Detail section -->
                        <div class="row response-detail">
                            <div class="row res-det">
                                <span>Response Detail</span>
                            </div>
                            <div class="row">
                                <div class="col-6">
                                    <div class="row std-name">
                                        <span>Student Name</span>
                                    </div>
                                    <div class="row">
                                        <div class="placeholder mb-3">
                                            <span>Document Preview</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-6">
                                    <div class="row no">
                                        <span>100/100</span>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="row">
                                <div class="col-2">
                                    <div class="row row-picture" style="display: flex; justify-content: center; align-items: center;">
                                        <img src="\assets\Group.png" class="profile-img" alt="Profile Image">
                                    </div>
                                </div>
                                <div class="col-10">
                                    <div class="form-group small-input">
                                        <input type="text" name="fullname" class="form-control form-control-sm"
                                            placeholder="Enter your country" ngModel required>
                                    </div>
                                </div>
                               
                            </div> -->

                        </div>

                    </div>
                </div>
            </div>


        </div>
    </div>
</div>