<div class="container-fluid">
    <div class="row main-row">
        <div class="row text-dashboard">
            <span>Teacher's Dashboard</span>
        </div>
        <div class="row dashboard-detail">
            <div class="image">
                <div class="row image-text">
                    <div class="col-8">
                        <div class="row course-name">
                            <span>{{ courseInfoById.title }}</span>
                        </div>
                        <div class="row course-code">
                            <span>{{ courseInfoById.course_code }}</span>
                        </div>
                    </div>
                    <div class="col-4 cl">
                        <button class="btn btn-primary custom-btn">Customize</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row work">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row announcement">
                    <span class="announce">Announcements</span>
                    <span class="for">For</span>
                    <div class="row">
                        <div class="col-2 cl">
                            <div class="form-group small-input">
                                <select class="form-select form-select-sm" aria-label="Small select example" [(ngModel)]="selectedStudent">
                                    <option selected>All Students</option>
                                    <option value="1">Roll No 1</option>
                                    <option value="2">Roll No 2</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row message">
                        <input type="text" class="form-control form-control-sm" id="description"
                               placeholder="Announce something to your students!" [(ngModel)]="announcementDescription">
                    </div>
                    <div class="row icons">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2 circle">
                                    <input #fileInput type="file"
                                           (change)="onFileSelected($event)"
                                           style="display: none;">
                                    <i class="fa-solid fa-upload" (click)="showFileInput()" style="color: #000000;"></i>
                                </div>
                                <div class="col-2 circle" data-bs-toggle="modal" data-bs-target="#linkModal">
                                    <i class="fa-solid fa-link" style="color: #000000;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="button-container">
                                    <button type="submit" class="btn custombtn2">Clear</button>
                                    <button type="submit" class="btn custombtn1" (click)="submitAnnouncement()">Post</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="row announcement">
                        <span class="upcoming">Upcoming</span>
                        <span class="due">No work due</span>
                        <div class="row view-all">
                            <div class="button-container">
                                <button type="submit" class="btn custombtn3">View All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row zoom">
                        <span class="upcoming">Virtual Classroom</span>
                        <span class="due">Schedule a meeting</span>
                        <div class="row view-all">
                            <div class="button-container">
                                <button type="submit" class="btn custombtn3">Schedule</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal for Link -->
<div class="modal fade" id="linkModal" tabindex="-1" aria-labelledby="linkModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="linkModalLabel">Add Link</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="linkInput" class="form-label">Link:</label>
                    <input type="text" class="form-control" id="linkInput" placeholder="Enter link">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="submitLink()">Submit</button>
            </div>
        </div>
    </div>
</div>

