<div style="background-color:#E4E2E2;">


    <div class="container">
        <div class="row main-container">
            <div class=" col-6">

                <!--Sign Up-->

                <div>
                    <div class="row">
                        <span class="text">
                            Get Started Now
                        </span>
                    </div>

                    <div class="row">
                        <span class="text2">
                            Enter your credentials to register your account
                        </span>
                    </div>

                    <div class="row authr">
                        <span class="auth liltext" style="margin-right: 10px;">
                            <img src="assets/google.png" alt="Book Image" height="13px" width="13px"
                                style="margin-right: 13px;">


                            <span>Continue with Google</span>



                        </span>

                        <span class="auth liltext">
                            <img src="assets/google.png" alt="Book Image" height="13px" width="13px"
                                style="margin-right: 13px;">


                            <span>Continue with Google</span>



                        </span>

                    </div>

                    <div class="row">
                        <div class="line">

                        </div>
                    </div>




                </div>

            </div>
            <div class=" col-6">
                <div>
                    <div class="image">

                    </div>
                </div>



            </div>
        </div>
    </div>
</div>