.container-fluid {
    background-color: #E4E2E2;

}

.border {
    border: 2px solid black;
}

.main-row {

    padding-top: 30px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 30px;
}

.row-bio {
    margin-right: 5px;
    background-color: white;
    border-radius: 50px;
}


.row-personal {
    margin-left: 5px;
    background-color: white;
    border-radius: 50px;
}

.row-payment {
    margin-top: 30px;
    margin-left: 10px;
    background-color: white;
    border-radius: 50px;
}

.profile-img {
    margin-top: 10px;
    height: 116px;
    width: 144px;
}

.row-picture {
    position: relative;
    display: inline-block;
    margin-top: 15px;
}

.circle {
    position: absolute;
    bottom: 1%;
    right: 41%;
    width: 2vw;
    height: 2vw;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle i {
    color: #303030;
    /* Choose your desired text color */
    font-size: 14px;
}

.username {
    color: #000;
    padding-left: 20px;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.bio {
    padding-top: 20px;
    color: #000;
    padding-left: 20px;
    font-family: Karla;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.content {
    color: #606060;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;

}

.bio {
    padding-top: 20px;
    padding-left: 18px;
    padding-bottom: 6px;
}

.city {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 6px;

}

.country {
    padding-top: 8px;
    padding-left: 8px;
    padding-bottom: 6px;

}

.additional {
    color: #000;
    padding-left: 20px;
    font-family: Karla;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 20px;

}



.form-control-sm {
    border-radius: 15px;
    font-family: Karla;
    font-size: 11px;
    color: #606060;
    height: 37px;
    padding-left: 15px;

}

.form-group {
    padding-bottom: 8px;
    padding-left: 5px;
}

.circle2 {
    width: 18px;
    height: 18px;
    background-color: #ffffff;
    border: 1px solid gray;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle2 i {
    color: #303030;
    /* Choose your desired text color */
    font-size: 10px;
}

.social-profile {
    color: #606060;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 10px;

}

.social-boundary {
    color: #000000;
    font-family: Karla;
    font-size: 9px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: 1px solid rgba(120, 120, 120, 0.285);
    border-radius: 23px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 20px;
    margin-top: 8px;


}

.overflow-hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: relative;
    margin-bottom: 10px;



}

.truncate-text {
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.delete-icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    cursor: pointer;
    padding-right: 5px;
}

.delete-icon i {
    color: red;
    /* Choose your desired color */
    font-size: 1em;
    /* Adjust the font size as needed */
}

.sf {
    padding-right: 0px;
    padding-top: 5px;
}

.custombtn2 {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 14px;
    font-family: Karla;
    background: #606060;
    border: 1px solid #606060;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    /* Adding a border to match the grey background on hover/focus */
    transition: background-color 0.3s ease;
    /* Adding a smooth transition effect */
    width: 20vw;
}

.custombtn2:hover,
.custombtn2:focus {
    background-color: #606060ab;
    border: none
}

.btn-signup {
    padding-top: 30px;
    margin-bottom: 30px;
}

.hello-row {
    border: 1px rgb(164, 160, 160) solid;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 23px;
}

.helloimg {
    height: 43px;
    border-top-left-radius: 22px;
    border-top-right-radius: 22px;
    padding-left: 0px;
    padding-right: 0px;
}

.image-text {
    color: rgb(255, 255, 255);
    font-weight: 100;
    font-size: 19px;
    font-family: Karla;
    position: absolute;
    bottom: 0;
    top: -1px;
    /* Adjust as needed */
    left: -153px;
    /* Adjust as needed */
    right: 0;
    /* Adjust as needed */
    /* Adjust background color and opacity */
    padding: 10px;
    /* Adjust padding as needed */
    text-align: center;
    /* Adjust text alignment as needed */
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;

}

.educational {
    color: #464444;
    padding-left: 10px;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
}

.circle3 {
    width: 21px;
    height: 21px;
    background-color: rgb(0, 135, 11);
    border: 1px solid rgb(0, 135, 11);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.circle3 i {
    color: #ffffff;
    /* Choose your desired text color */
    font-size: 10px;
}

.side-bar {
    margin-left: 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    border: 1px solid #E4E2E2;
    background: #E4E2E2;
    height: 56px;
    width: 2vw;
}

.education-bar {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    border: 1px solid #cfcbcb;
    background: #ffffff;
    height: 56px;


}

.degree {
    padding-top: 3px;
    color: #606060de;
    padding-left: 7px;
    font-family: Karla;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.institute {
    padding-top: 3px;
    color: #606060de;
    padding-left: 7px;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.lang-border {
    border: 1px solid #606060de;
    border-radius: 15px;
    padding-left: 10px;
    color: #606060de;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-left: 20px;
}

.btn-signup2 {
    padding-top: 10px;
    margin-bottom: 10px;
}

.flag {
    width: 20px;
    height: 20px;
    display: inline-block;
    margin-right: 5px;
    background-size: cover;
}


.input-group-prepend .input-group-text {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    font-family: Karla;
    font-size: 11px;
    color: #606060;
    height: 37px;
    background-color: white;

}



@media (max-width: 1210px) {

    .social-profile {
        color: #606060;
        font-family: Karla;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 10px;

    }

    .image-text {

        font-size: 19px;
        font-family: Karla;
        position: absolute;

        top: -1px;
        /* Adjust as needed */
        left: -130px;
        /* Adjust as needed */

    }


}

@media (max-width: 1060px) {
    .image-text {

        font-size: 19px;
        font-family: Karla;
        position: absolute;

        top: -1px;
        /* Adjust as needed */
        left: -103px;
        /* Adjust as needed */

    }
}

@media (max-width: 1210px) {

    .social-profile {
        color: #606060;
        font-family: Karla;
        font-size: 9px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 10px;

    }

}

@media (max-width: 1000px) {

    .circle {
        position: absolute;
        bottom: 1%;
        right: 44%;
        width: 3vw;
        height: 3vw;

    }

    .social-profile {
        color: #606060;
        font-family: Karla;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 10px;

    }

    .hello-row {
        margin-top: 10px;
        margin-left: 0px;
        margin-right: 0px;
        border-radius: 23px;
    }

}

@media (max-width: 750px) {

    .circle {
        position: absolute;
        bottom: 1%;
        right: 42%;
        width: 2vw;
        height: 3vw;

    }

}

@media (max-width: 650px) {

    .circle {
        position: absolute;
        bottom: 1%;
        right: 40%;
        width: 3vw;
        height: 4vw;

    }

    .educational {
        color: #464444;
        padding-left: 10px;
        font-family: Karla;
        font-size: 12px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
    }

    .degree {
        padding-top: 3px;
        color: #606060de;
        padding-left: 7px;
        font-family: Karla;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

    .institute {
        padding-top: 3px;
        color: #606060de;
        padding-left: 7px;
        font-family: Karla;
        font-size: 10px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;

    }

}

@media (max-width: 450px) {

    .circle {
        position: absolute;
        bottom: 1%;
        right: 35%;
        width: 2vw;
        height: 5vw;

    }

    .image-text {

        font-size: 19px;
        font-family: Karla;
        position: absolute;

        top: -1px;
        /* Adjust as needed */
        left: -45px;
        /* Adjust as needed */

    }

    .educational {
        color: #464444;
        padding-left: 10px;
        font-family: Karla;
        font-size: 10px;
        font-style: normal;
        font-weight: 550;
        line-height: normal;
    }

}

@media (max-width: 400px) {

    .circle {
        position: absolute;
        bottom: 1%;
        right: 34%;
        width: 2vw;
        height: 6vw;

    }


    .social-profile {
        color: #606060;
        font-family: Karla;
        font-size: 8px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding-top: 10px;

    }

    .circle2 {
        width: 10px;
        height: 10px;


    }

    .circle2 i {
        color: #303030;
        /* Choose your desired text color */
        font-size: 4px;
    }

    .sf {
        padding-right: 0px;
        padding-top: 0px;
    }

    .image-text {

        font-size: 19px;
        font-family: Karla;
        position: absolute;

        top: -1px;
        /* Adjust as needed */
        left: -10px;
        /* Adjust as needed */

    }
}


/* Educational Background CSS */

.modal-title {
    color: #606060;
    font-family: Karla;
    font-size: 7px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;


}

.ed-note {
    color: #606060;
    font-family: Karla;
    font-size: 11px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 14px;
    padding-top: 0px;

}

.edu-content {
    color: #606060;
    font-family: Karla;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 5px;

}

.form-check-label {

    font-family: Karla;
    font-size: 10px;
    color: #606060;

}

/* Add this CSS to your stylesheets */

/* Style for the scrollable div */
.scrollable-div {
    max-height: 300px;
    /* Set your desired height */
    overflow-y: auto;
    /* Add some padding to avoid scrollbar overlapping content */
    padding-left: 0px;
    padding-right: -1px;
    margin-bottom: 18px;
}

/* Style for the scrollbar */
.scrollable-div::-webkit-scrollbar {
    width: 6px;
    /* Set your desired width for the scrollbar */
}

/* Style for the scrollbar track */
.scrollable-div::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    /* Set the background color of the scrollbar track */
}

/* Style for the scrollbar handle */
.scrollable-div::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Set the color of the scrollbar handle */
}

/* Style for the scrollbar handle on hover */
.scrollable-div::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Set the color of the scrollbar handle on hover */
}

.nolist {
    color: #7c7c7c;
    font-family: Karla;
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    line-height: normal;

}