.container-fluid {
    background-color: black;
    color: white;
    padding-top: 13px;
    padding-bottom: 12px;
    font-family: 'Karla', sans-serif;
    font-size: 13px;
    font-weight: bold;
    padding-left: 30px;

}

span {
    padding-right: 13px;
}

span:hover {
    color: rgb(113, 190, 254);
    cursor: pointer;
}