<div class="container-fluid">
    <div class="row main-row">
        <div class="row text-dashboard">
            <span>Ahmad's Dashbard</span>
        </div>
        <div class="row dashboard-detail">

            <div class="image">
                <div class="row image-text">
                    <div class="col-8">
                        <div class="row course-name">
                            <span>Course Name</span>
                        </div>
                        <div class="row teacher-name">
                            <span>Teacher Name</span>
                        </div>
                        <div class="row course-code">
                            <span>Class Code</span>
                        </div>
                    </div>
                    <div class="col-4 cl">
                        <button class="btn btn-primary custom-btn">Customize</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row work">
            <div class="col-lg-8 col-md-8 col-sm-12">
                <div class="row announcement">
                    <span class="announce">Announcements</span>
                    
                    <div class="row message">
                        <input type="text" class="form-control form-control-sm" id="exampleFormControlInput1"
                            placeholder="Announce something to your students!">
                    </div>
                    <div class="row icons">
                        <div class="col-6">
                            <div class="row">
                                <div class="col-2 circle">
                                    <i class="fa-solid fa-upload" style="color: #000000;"></i>
                                </div>
                                <div class="col-2 circle">
                                    <i class="fa-solid fa-link" style="color: #000000;"></i>
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="row">
                                <div class="button-container">
                                    <button type="submit" class="btn custombtn2">Clear</button>
                                    <button type="submit" class="btn custombtn1">Post</button>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="row">
                    <div class="row announcement">
                        <span class="upcoming">Upcoming</span>
                        <span class="due">No work due!!</span>
                        <div class="row view-all">
                            <div class="button-container">
                                <button type="submit" class="btn custombtn3">View All</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row zoom">
                        <span class="upcoming">Assignments(5)</span>

                        <!-- Each assignment row -->
                        <!-- Each assignment row -->
                        <!-- Each assignment row -->
                        <div class="row assi">
                            <div class="col-2 ass-col">

                            </div>
                            <div class="col-10 ass-name">
                                <div class="row">
                                    <div class="col-7">
                                        <span class="a-name">Assignment Name</span>
                                    </div>
                                    <div class="col-5">
                                        <span class="date-ass">Posted 10 Feb 2024</span>
                                    </div>
                                </div>
                                <div class="row a-inst">
                                    <span>Assignment Instructions...</span>
                                </div>
                            </div>
                        </div>

                        <!-- Each assignment row -->
                        <!-- Each assignment row -->
                        <!-- Each assignment row -->
                        <div class="row assi">
                            <div class="col-2 ass-col">

                            </div>
                            <div class="col-10 ass-name">
                                <div class="row">
                                    <div class="col-7">
                                        <span class="a-name">Assignment Name</span>
                                    </div>
                                    <div class="col-5">
                                        <span class="date-ass">Posted 10 Feb 2024</span>
                                    </div>
                                </div>
                                <div class="row a-inst">
                                    <span>Assignment Instructions...</span>
                                </div>
                            </div>
                        </div>

                        <!-- Each assignment row -->
                        <!-- Each assignment row -->
                        <!-- Each assignment row -->
                        <div class="row assi">
                            <div class="col-2 ass-col">

                            </div>
                            <div class="col-10 ass-name">
                                <div class="row">
                                    <div class="col-7">
                                        <span class="a-name">Assignment Name</span>
                                    </div>
                                    <div class="col-5">
                                        <span class="date-ass">Posted 10 Feb 2024</span>
                                    </div>
                                </div>
                                <div class="row a-inst">
                                    <span>Assignment Instructions...</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>