<div style="background-color: #7281FF;">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6  " style="padding-top: 66px;">
                <div class="row">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herotext">Be the hero of </span>
                        <div class="row">
                            <img src="assets/line.svg" alt="SVG Image" height="12" width="16"
                                style="padding-left: 90px;">
                        </div>

                    </div>
                    <div class="col-1" style="padding-left: 0px;">
                        <img src="assets/anchor.svg" alt="SVG Image" width="45" height="45">

                    </div>
                </div>
                <div class="row">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herotext">your journey ! </span>


                    </div>

                </div>
                <div class="row" style="padding-top: 25px;">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herocontent"> Join Now And Help Us Empower Transgender </span>


                    </div>
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herocontent"> Success Through Innovative Education </span>


                    </div>

                </div>
                <div class="row" style="padding-top: 30px; padding-bottom: 90px;">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <button style="margin-right: 10px;" type="button" class="btn custom-btn">Learners</button>
                        <button type="button" class="btn custom-btn">Teachers</button>


                    </div>


                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 noneed" style="padding-left: 90px;">
                <div class="image-container">

                    <img src="assets/book.png" alt="Book Image" height="500" width="460">
                    <img src="assets/pencil.png" alt="Pencil Image" class="overlay-image" height="250" width="240">

                </div>

            </div>




        </div>

    </div>
</div>

<!-- Hero Section Ends here-->
<div class="accordion" id="accordionPanelsStayOpenExample"
    style="padding-left: 10px; padding-right: 10px; padding-top: 20px;">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button *ngIf="!isLargeScreen" class="accordion-button" type="button"
                [ngClass]="{'collapsed': !isLargeScreen, 'accordion-button': true}"
                [attr.data-bs-toggle]="isLargeScreen ? null : 'collapse'"
                [attr.data-bs-target]="isLargeScreen ? null : '#panelsStayOpen-collapseOne'" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                WHY TRANSGENDER DOSTI?
            </button>
        </h2>
        <div [id]="isLargeScreen ? null : 'panelsStayOpen-collapseOne'"
            [ngClass]="{'accordion-collapse': isLargeScreen, 'collapse': !isLargeScreen, 'show': isLargeScreen}">




            <!--First Item Why Transgender Dosti-->
            <div class="accordion-body">
                <div class="row text-center">
                    <span class="wtd">
                        Why Transgender Dosti ?
                    </span>
                </div>

                <!--Person-->
                <div class="row" style="padding-top: 55px; padding-bottom: 55px;">
                    <div class="col-sm-12 col-md-12 col-lg-4 ">

                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="height: 102px; width: 137px;">
                                <img src="assets/person.png" alt="Person Image">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 33px;">
                            <div class="wtdtext ">
                                <span class="wtdtextspan">Empowering Undeserved </span>
                                <span class="wtdtextspan">Identities </span>

                            </div>
                        </div>

                        <div class="row text-center"
                            style="padding-left: 20px; padding-right: 20px; padding-top: 33px; ">
                            <span class="wtdsubtext">
                                Our project uplifts transgender individuals through education, enabling them to reshape
                                narratives and propel social change in the community.
                            </span>

                        </div>

                    </div>
                    <!--Inclusive Learning for All-->
                    <div class="col-sm-12 col-md-12 col-lg-4 ">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="height: 102px; width: 137px;">
                                <img src="assets/paint.png" alt="Person Image">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 33px;">
                            <div class="wtdtext2 ">
                                <span class="wtdtextspan">Inclusive Learning </span>
                                <span class="wtdtextspan">For All </span>

                            </div>
                        </div>

                        <div class="row text-center"
                            style="padding-left: 20px; padding-right: 20px; padding-top: 33px; ">
                            <span class="wtdsubtext">
                                Our dedicated platform ensures equal access to transformative education for transgender
                                individuals, fueling personal growth and societal evolution.
                            </span>

                        </div>

                    </div>
                    <!--Fostering Positive Social-->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="height: 102px; width: 137px;">
                                <img src="assets/star.png" alt="Person Image">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 33px;">
                            <div class="wtdtext3">
                                <span class="wtdtextspan">Fostering Positive </span>
                                <span class="wtdtextspan">Social Change </span>

                            </div>
                        </div>

                        <div class="row text-center"
                            style="padding-left: 30px; padding-right: 30px; padding-top: 33px; ">
                            <span class="wtdsubtext">
                                Education drives positive change, uniting transgender individuals to challenge
                                stereotypes and foster an inclusive community.
                            </span>

                        </div>


                    </div>
                </div>

                <!-- Why Transgender Dosti Ends here-->










            </div>
        </div>
    </div>

    <!-- ... other accordion items ... -->
    <div class="accordion-item" style="padding-top: 20px;">
        <h2 class="accordion-header">
            <button *ngIf="!isLargeScreen" class="accordion-button" type="button"
                [ngClass]="{'collapsed': !isLargeScreen, 'accordion-button': true}"
                [attr.data-bs-toggle]="isLargeScreen ? null : 'collapse'"
                [attr.data-bs-target]="isLargeScreen ? null : '#panelsStayOpen-collapseTwo'" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                TEACHERS - GUIDING LIGHTS OF TRANSFORMATION
            </button>
        </h2>
        <div [id]="isLargeScreen ? null : 'panelsStayOpen-collapseTwo'"
            [ngClass]="{'accordion-collapse': isLargeScreen, 'collapse': !isLargeScreen, 'show': isLargeScreen}">
            <div class="accordion-body">


                <!-- Teacher's section start here -->

                <div class="row">
                    <div class="col-6">
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae quis ipsa provident quidem
                        repellat a qui necessitatibus excepturi animi nulla? Molestiae commodi, distinctio illo sunt
                        maxime repellat tenetur similique odit? Corrupti quo voluptatibus provident inventore
                        dignissimos suscipit laborum deserunt deleniti amet pariatur tenetur hic doloribus adipisci,
                        recusandae nulla, praesentium ipsum natus quos tempora similique eligendi voluptatem repudiandae
                        officia possimus. Porro in debitis, similique soluta laudantium unde natus iusto aliquam ut
                        exercitationem animi ex quo accusamus rerum culpa impedit voluptates itaque odit ducimus,
                        repellendus dolorum id corporis. Repudiandae porro atque molestiae quos expedita animi voluptas
                        aut ab obcaecati ut! Accusamus, rerum.
                    </div>
                    <div class="col-6">
                        lior
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... other accordion items ... -->
    <div class="accordion-item" style="padding-top: 20px;">
        <h2 class="accordion-header">
            <button *ngIf="!isLargeScreen" class="accordion-button" type="button"
                [ngClass]="{'collapsed': !isLargeScreen, 'accordion-button': true}"
                [attr.data-bs-toggle]="isLargeScreen ? null : 'collapse'"
                [attr.data-bs-target]="isLargeScreen ? null : '#panelsStayOpen-collapseThree'" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                LEARNERS - ARCHITECTS OF EMPOWERMENT
            </button>
        </h2>
        <div [id]="isLargeScreen ? null : 'panelsStayOpen-collapseThree'"
            [ngClass]="{'accordion-collapse': isLargeScreen, 'collapse': !isLargeScreen, 'show': isLargeScreen}">
            <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> <!-- ... rest of the content ... -->
            </div>
        </div>
    </div>
</div>