<div style="background-color: #7281FF;">
    <div class="container ">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-6 fade-in-column" style="padding-top: 66px;">
                <div class="row">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herotext">Be the hero of </span>
                        <div class="row">
                            <img src="assets/line.svg" alt="SVG Image" height="12" width="16" class="fade-in">
                        </div>

                    </div>
                    <div class="col-1" style="padding-left: 0px;">
                        <img src="assets/anchor.svg" alt="SVG Image" width="45" height="45">

                    </div>
                </div>
                <div class="row">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herotext">your journey ! </span>


                    </div>

                </div>
                <div class="row" style="padding-top: 25px;">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herocontent"> Join Now And Help Us Empower Transgender </span>


                    </div>
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <span class="herocontent"> Success Through Innovative Education </span>


                    </div>

                </div>
                <div class="row" style="padding-top: 30px; padding-bottom: 90px;">
                    <div class="col-9" style="padding-left: 20px; padding-right: 0px;">
                        <button style="margin-right: 10px;" type="button" class="btn custom-btn">Learners</button>
                        <button type="button" class="btn custom-btn">Teachers</button>


                    </div>


                </div>
            </div>
            <div class="col-sm-12 col-md-12 col-lg-6 noneed" style="padding-left: 90px;">
                <div class="image-container">
                    <div class="image-wrap">
                        <img src="assets/book.png" alt="Book Image" height="500" width="460" class="image">
                        <img src="assets/pencil.png" alt="Pencil Image" class="overlay-image" height="250" width="240">
                    </div>
                </div>
            </div>




        </div>

    </div>
</div>

<!-- Hero Section Ends here-->
<div class="accordion" id="accordionPanelsStayOpenExample"
    style="padding-left: 10px; padding-right: 10px; padding-top: 20px;">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button *ngIf="!isLargeScreen" class="accordion-button" type="button"
                [ngClass]="{'collapsed': !isLargeScreen, 'accordion-button': true}"
                [attr.data-bs-toggle]="isLargeScreen ? null : 'collapse'"
                [attr.data-bs-target]="isLargeScreen ? null : '#panelsStayOpen-collapseOne'" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseOne">
                WHY TRANSGENDER DOSTI?
            </button>
        </h2>
        <div [id]="isLargeScreen ? null : 'panelsStayOpen-collapseOne'"
            [ngClass]="{'accordion-collapse': isLargeScreen, 'collapse': !isLargeScreen, 'show': isLargeScreen}">




            <!--First Item Why Transgender Dosti-->
            <div class="accordion-body">
                <div class="row text-center">
                    <span class="wtd">
                        Why Transgender Dosti ?
                    </span>
                </div>

                <!--Person-->
                <div class="row" style="padding-top: 55px; padding-bottom: 55px;">
                    <div class="col-sm-12 col-md-12 col-lg-4 ">

                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="height: 102px; width: 137px;">
                                <img src="assets/person.png" alt="Person Image" class="beat">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 33px;">
                            <div class="wtdtext ">
                                <span class="wtdtextspan">Empowering Undeserved </span>
                                <span class="wtdtextspan">Identities </span>

                            </div>
                        </div>

                        <div class="row text-center"
                            style="padding-left: 20px; padding-right: 20px; padding-top: 33px; ">
                            <span class="wtdsubtext">
                                Our project uplifts transgender individuals through education, enabling them to reshape
                                narratives and propel social change in the community.
                            </span>

                        </div>

                    </div>
                    <!--Inclusive Learning for All-->
                    <div class="col-sm-12 col-md-12 col-lg-4 ">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="height: 102px; width: 137px;">
                                <img src="assets/paint.png" alt="Person Image" class="beat">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 33px;">
                            <div class="wtdtext2 ">
                                <span class="wtdtextspan">Inclusive Learning </span>
                                <span class="wtdtextspan">For All </span>

                            </div>
                        </div>

                        <div class="row text-center"
                            style="padding-left: 20px; padding-right: 20px; padding-top: 33px; ">
                            <span class="wtdsubtext">
                                Our dedicated platform ensures equal access to transformative education for transgender
                                individuals, fueling personal growth and societal evolution.
                            </span>

                        </div>

                    </div>
                    <!--Fostering Positive Social-->
                    <div class="col-sm-12 col-md-12 col-lg-4">
                        <div class="row d-flex justify-content-center align-items-center">
                            <div style="height: 102px; width: 137px;">
                                <img src="assets/star.png" alt="Person Image" class="beat">
                            </div>
                        </div>

                        <div class="row d-flex justify-content-center align-items-center" style="margin-top: 33px;">
                            <div class="wtdtext3">
                                <span class="wtdtextspan">Fostering Positive </span>
                                <span class="wtdtextspan">Social Change </span>

                            </div>
                        </div>

                        <div class="row text-center"
                            style="padding-left: 30px; padding-right: 30px; padding-top: 33px; ">
                            <span class="wtdsubtext">
                                Education drives positive change, uniting transgender individuals to challenge
                                stereotypes and foster an inclusive community.
                            </span>

                        </div>


                    </div>
                </div>

                <!-- Why Transgender Dosti Ends here-->










            </div>
        </div>
    </div>

    <!-- ... other accordion items ... -->
    <div class="accordion-item" style="padding-top: 20px;">
        <h2 class="accordion-header">
            <button *ngIf="!isLargeScreen" class="accordion-button" type="button"
                [ngClass]="{'collapsed': !isLargeScreen, 'accordion-button': true}"
                [attr.data-bs-toggle]="isLargeScreen ? null : 'collapse'"
                [attr.data-bs-target]="isLargeScreen ? null : '#panelsStayOpen-collapseTwo'" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseTwo">
                TEACHERS - GUIDING LIGHTS OF TRANSFORMATION
            </button>
        </h2>
        <div [id]="isLargeScreen ? null : 'panelsStayOpen-collapseTwo'"
            [ngClass]="{'accordion-collapse': isLargeScreen, 'collapse': !isLargeScreen, 'show': isLargeScreen}">
            <div class="accordion-body" style="border: none;">


                <!-- Teacher's section start here -->

                <div class="row teach">

                    <div class="col-sm-2 col-md-4 col-lg-6 teacherimg">

                    </div>

                    <div class="col-sm-10 col-md-6 col-lg-6 teachertext">
                        <div class="row">
                            <span class="ttxt">TEACHERS</span>
                        </div>

                        <div class="row" style="position: relative; margin-left: 10px; margin-top: 35px;"
                            class="spin-pause-delay">
                            <div style="position: absolute; top: 0; left: 0;">
                                <img src="assets/line1.svg" alt="SVG Image">
                            </div>
                            <div style="position: absolute; top: 0; left: 5px;">
                                <img src="assets/line6.svg" alt="SVG Image">
                            </div>
                            <div style="position: absolute; top: 0; left: 0;">
                                <img src="assets/line8.svg" alt="SVG Image">
                            </div>
                            <div style="position: absolute; top: 0; left: 0;">
                                <img src="assets/line9.svg" alt="SVG Image">
                            </div>
                        </div>

                        <div class="row" style="padding-top: 30px; padding-left: 18px;">
                            <span class="teacherstxt" style="line-height: 0%;"> Guiding Lights </span>
                            <span class="teacherstxt"> of Transformation </span>
                        </div>

                        <div class="row">
                            <img class="timg" src="assets/tline.svg" alt="SVG Image">

                        </div>

                        <div class="row" style="padding-right: 20px; padding-top: 35px; padding-left: 20px;">
                            <span class="teachercontent">
                                Teachers stand as beacons of inspiration, shaping a brighter future through dedicated
                                expertise and education.
                            </span>
                        </div>

                        <div style="padding-top: 37px; padding-left: 20px;">
                            <button type="button" class="btn custombtn2t" style="margin-right: 10px; ">Teachers, start
                                here</button>

                        </div>




                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- ... other accordion items ... -->
    <div class="accordion-item" style="padding-top: 20px;">
        <h2 class="accordion-header">
            <button *ngIf="!isLargeScreen" class="accordion-button" type="button"
                [ngClass]="{'collapsed': !isLargeScreen, 'accordion-button': true}"
                [attr.data-bs-toggle]="isLargeScreen ? null : 'collapse'"
                [attr.data-bs-target]="isLargeScreen ? null : '#panelsStayOpen-collapseThree'" aria-expanded="true"
                aria-controls="panelsStayOpen-collapseThree">
                LEARNERS - ARCHITECTS OF EMPOWERMENT
            </button>
        </h2>
        <div [id]="isLargeScreen ? null : 'panelsStayOpen-collapseThree'"
            [ngClass]="{'accordion-collapse': isLargeScreen, 'collapse': !isLargeScreen, 'show': isLargeScreen}">
            <div class="accordion-body">
                <!--Learners section start here-->
                <div class="row teach">



                    <div class="col-sm-10 col-md-6 col-lg-6 learnertext">
                        <div class="row">
                            <span class="ttxt">LEARNERS</span>
                        </div>

                        <div class="row" style="position: relative; margin-left: 10px; margin-top: 35px;"
                            class="spin-pause-delay">
                            <div style="position: absolute; top: 0; left: 0;">
                                <img src="assets/line1.svg" alt="SVG Image">
                            </div>
                            <div style="position: absolute; top: 0; left: 5px;">
                                <img src="assets/line6.svg" alt="SVG Image">
                            </div>
                            <div style="position: absolute; top: 0; left: 0;">
                                <img src="assets/line8.svg" alt="SVG Image">
                            </div>
                            <div style="position: absolute; top: 0; left: 0;">
                                <img src="assets/line9.svg" alt="SVG Image">
                            </div>
                        </div>

                        <div class="row" style="padding-top: 30px; padding-left: 18px;">
                            <span class="teacherstxt" style="line-height: 0%;"> Architects of </span>
                            <span class="teacherstxt"> Empowerment </span>
                        </div>

                        <div class="row">
                            <img class="limg" src="assets/vector10.svg" alt="SVG Image">

                        </div>

                        <div class="row" style="padding-right: 20px; padding-top: 35px; padding-left: 20px;">
                            <span class="teachercontent">
                                Teachers stand as beacons of inspiration, shaping a brighter future through dedicated
                                expertise and education.
                            </span>
                        </div>

                        <div style="padding-top: 37px; padding-left: 20px;">
                            <button type="button" class="btn custombtn3" style="margin-right: 10px; ">Teachers, start
                                here</button>

                        </div>






                    </div>
                    <div class="col-sm-2 col-md-4 col-lg-6 learnerimg">

                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="container-fluid ">
        <div class="row cf">
            <div class="row courses">
                <span>Popular Courses</span>
            </div>
            <div class="row heading">
                <span>Explore Our Most Sought-After Courses: Embark </span>
                <span>
                    on a Journey of Knowledge and Empowerment.

                </span>

            </div>
            <div class="container">
                <div class="row search align-items-center">
                    <div class="col-1"></div>
                    <div class="col-10">
                        <nav class="navbar bg-white">
                            <form class="container-fluid">
                                <div class="input-group">
                                    <i class="fa-solid fa-magnifying-glass input-group-text" id="basic-addon1"></i>
                                    <input type="text" class="form-control" placeholder="Search" aria-label="Username"
                                        aria-describedby="basic-addon1" name="searchTerm" [(ngModel)]="searchTerm"
                                        (input)="updateSearchResults()">
                                </div>
                            </form>

                        </nav>
                    </div>
                    <div class="col-1"></div>
                </div>
                <div class="row suggestion align-items-center">

                    <div class="col-10 sug">
                        <ul class="tab-container">
                            <li class="tab" *ngFor="let courseFor of getUniqueCourseForValues()"
                                [class.active]="courseFor === selectedCourseFor" (click)="filterByCourseFor(courseFor)">
                                {{ courseFor }}
                            </li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="container">
                <div class="row sorting align-items-center">
                    <div class="col-9"></div>
                    <div class="col-2 sort">
                        <div class="select-with-icon">
                            <i class="fa-solid fa-arrow-down-wide-short dropdown-icon"></i>
                            <select class="form-select form-group small-input form-control form-control-sm"
                                aria-label="Default select example" [value]="selectedSortOption.value"
                                (change)="setSortOption($event)">
                                <option *ngFor="let option of sortOptions" [value]="option.value">{{ option.label }}
                                </option>
                            </select>
                        </div>
                    </div>





                    <div class="col-1"></div>

                </div>
            </div>
            <div class="row view-courses">
                <div *ngFor="let course of getDisplayedCourses()" class="col-lg-4 col-md-6 col-sm-6 course1">
                    <div class="row course-data">
                        <div class="col-7">
                            <div class="row sub-name">
                                <span class="truncate">{{ course.title }}</span>
                            </div>
                            <div class="row teacher-name">
                                <div class="col-2">
                                    <img style="border-radius: 50px;"
                                        [src]="course.teacher.profile_picture || 'assets/Group.png'" alt="Teacher"
                                        class="profile-image">


                                </div>
                                <div class="col-10">
                                    <span class="ml-2" style="padding-left: 5px;">{{ course.teacher.full_name }}</span>
                                </div>
                            </div>
                            <div class="row info">
                                <p class="truncate-3-lines">{{ course.details }}</p>
                            </div>
                            <div class="row rating">
                                <div class="profile-footer">
                                    <span class="profile-rating">★★★★☆</span> 4.7 (100 reviews)
                                </div>
                            </div>
                        </div>
                        <div class="col-5">
                            <div class="row">
                                <img [src]="course.course_picture || 'assets/Rectangle 42.png'" alt="Teacher"
                                    class="course-image">
                            </div>
                            <div class="row profile-rs">
                                <span>{{ course.course_fee.split(' ')[0] }}</span>

                            </div>
                            <div class="row profile-price">
                                <span>
                                    {{
                                    course.course_fee.split(' ')[1]>= 1000000
                                    ? (course.course_fee.split(' ')[1] / 1000000).toFixed(1) + 'M'
                                    : course.course_fee.split(' ')[1] >= 1000
                                    ? (course.course_fee.split(' ')[1]/ 1000).toFixed(0) + 'k'
                                    : course.course_fee.split(' ')[1]
                                    }}
                                </span>



                            </div>
                            <div class="row">
                                <div class="btn-signup"
                                    style="display: flex; justify-content: center; align-items: center;">
                                    <button type="submit" class="btn custombtn2">Enroll </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <nav *ngIf="courses.length > 0" aria-label="...">
                    <ul class="pagination pagination-sm justify-content-end" style="margin-top: 25px;">
                        <li class="page-item" (click)="setPage(currentPage - 1)" [class.disabled]="currentPage === 1">
                            <span class="page-link" style="cursor: pointer;">Previous</span>
                        </li>
                        <li class="page-item" *ngFor="let page of getPageNumbers()" (click)="setPage(page)"
                            [class.active]="page === currentPage">
                            <ng-container *ngIf="page !== -1; else ellipsis">
                                <span class="page-link" style="cursor: pointer;">{{ page }}</span>
                            </ng-container>
                            <ng-template #ellipsis><span class="page-link">...</span></ng-template>
                        </li>
                        <li class="page-item" (click)="setPage(currentPage + 1)"
                            [class.disabled]="currentPage === totalPages">
                            <span class="page-link" style="cursor: pointer;">Next</span>
                        </li>
                    </ul>
                </nav>




                <!-- <div class="col-4">sdhsjdh</div>
                <div class="col-4">sjdsldj</div>
                <div class="col-4">sjdls</div> -->
                <!-- <div class="col">
                    <div class="profile-pic"></div> 
                    <div class="title">Backend Developer</div>
                    <div class="price">Rs 2k - 3k per hour</div>
                    <div class="rating">★★★★☆ 4.0</div>
                    <div class="description">Experienced backend developer proficient in designing and implementing
                        reliable solutions. Skilled in database management, API integration, and full-stack user
                        experience.</div>
                    <div class="location">Remote - Islamabad, Pakistan</div>
                </div>
                <div class="col">
                    <div class="title">Backend Developer</div>
                    <div class="price">Rs 2k - 3k per hour</div>
                    <div class="rating">★★★★☆ 4.0</div>
                    <div class="description">Experienced backend developer proficient in designing and implementing
                        reliable solutions. Skilled in database management, API integration, and full-stack user
                        experience.</div>
                    <div class="location">Remote - Islamabad, Pakistan</div>
                </div>

                <div class="col">
                    <div class="title">Database Programmer</div>
                    <div class="price">Rs 3k - 5k per hour</div>
                    <div class="rating">★★★★☆ 4.0</div>
                    <div class="description">Seasoned database programmer proficient in SQL and information management.
                        Skilled in developing efficient database solutions for complex data retrieval and analysis.
                    </div>
                    <div class="location">Remote - Lahore, Pakistan</div>
                </div>

                <div class="col">
                    <div class="title">PHP Programmer</div>
                    <div class="price">Rs 1k - 5k per hour</div>
                    <div class="rating">★★★☆☆ 3.0</div>
                    <div class="description">Expert web PHP programmer adept at developing robust web applications.
                        Proficient in PHP, MySQL, and MVC frameworks. Highly skillful at ensuring efficient and
                        user-friendly digital solutions.</div>
                    <div class="location">Remote - Rawalpindi, Pakistan</div>
                </div>
                <div class="col">
                    skdk
                </div> -->
            </div>
        </div>

    </div>


    <!-- Sign up for transgender dosti updates-->
    <div class="signUpUpdates">


        <div class="row updates">
            <div class="col-sm-2 col-md-2 col-lg-2">
                <div class="swimming-animation">
                    <img class="uimg" src="assets/vector16.svg" alt="SVG Image">
                </div>
            </div>
            <div class="col-sm-7 col-md-7 col-lg-7 text-center">
                <div class="signupText" style="padding-top: 30px; padding-bottom: 5px;">
                    Sign Up for
                </div>
                <div class="signupText">
                    Transgender Dosti updates
                </div>

                <div class="signupContent">
                    Access our daily updated and get embarked with.
                </div>
                <div class="row justify-content-center" style="padding-top: 40px;">


                    <div class="custom-input-group" style="width: 250px;">
                        <input type="text" class="form-control custom-input" placeholder="Type your email...">
                        <div class="custom-icon">
                            <i class="fa-solid fa-arrow-right fa-shake"></i>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="swimming-animation2"> <img class="uimg2" src="assets/vector17.svg" alt="SVG Image"> </div>
            </div>


        </div>

    </div>
</div>