<div class="container-fluid cf">
    <!-- main-row -->
    <div class="row main-row">
        <div class="row course-info">
            <div class="col-12">
                <div class="row course-image">
                    <div class="col-2">
                        <div class="row row-picture " style="display: flex;">
                            <img src="Images/graphic-designer.jpg" class="profile-img" alt="ID">
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="row course-name">Graphic Designing : Steps for Startups</div>
                        <div class="row course-code">
                            <div class="col-8">

                                <i class="fa-regular fa-clock fa-sm" style="color: #949dad;"></i>
                                <span>12 weeks course</span>
                            </div>
                        </div>
                        <div class="row reviews">
                            <span class="profile-rating">★★★★☆ 4.3(100 reviews)</span>
                        </div>
                        <!-- Course-description row -->
                        <div class="row course-description">
                            <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam deserunt accusamus
                                facere suscipit consectetur, accusantium unde consequuntur minima! Dicta quas odit culpa
                                asperiores nihil. Exercitationem reiciendis porro minus expedita quis obcaecati nihil!
                                <span style="font-weight: bold;">Read More ...</span> </span>
                        </div>
                        <div class="row teacher-name">
                            <div class="col-1">
                                <img src="Images\Group.png" alt="Teacher" class="profile-image">
                            </div>
                            <div class="col-10" style="padding-left: 0px;">
                                <span class="ml-2">Teacher Name</span>
                            </div>
                        </div>


                    </div>
                    <div class="col-4 cll">
                        <button class="btn btn-primary custom-btn">Buy $1k</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="row course-data">
            <div class="col-12 course-profile">
                <div class="row">
                    <div class="col-9">

                        <!-- course main video row -->
                        <div class="row demo-video">
                            <span>Course Demo Video</span>
                            <div class="row">
                                <img src="Images\graphic-designer.jpg" alt="Teacher" class="profile-img"
                                    style="height: 25rem;">
                            </div>
                        </div>
                        <!-- Course Outline row -->
                        <div class="row course-outline">
                            <span>Course Outline</span>
                            <div class="row outline-details">
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #FFD43B;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-4 course1">
                                    <div class="row course-data">
                                        <div class="col-3 cl">
                                            <div class="row course-play-button">
                                                <i class="fa-solid fa-circle-play fa-2xl" style="color: #b4b4c0;"></i>
                                            </div>
                                        </div>
                                        <div class="col-9 colu">
                                            <div class="row">
                                                <span class="text-course">Introduction to Graphic Designing</span>
                                            </div>
                                            <div class="row text-course-desc">
                                                <span>Lorem ipsum dolor sit, amet consectetur adipisicing elit. In,
                                                    officiis inventore.</span>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                    <div class="col-3">
                        <div class="row ratings">
                            <div class="row review-list">
                                <span class="rate">Ratings</span>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                                <div class="row person-name">
                                    <div class="col-1">
                                        <img src="Images\Group.png" alt="Teacher" class="profile-image">
                                    </div>
                                    <div class="col-8" style="padding-left: 25px;">
                                        <span class="ml-2">User Name</span>
                                        <div class="row review">
                                            <span>Lorem, ipsum dolor sit amet conse adipisicing elit. Ducimus beatae
                                                recusandae aliquam facere totam iure?</span>
                                        </div>
                                    </div>
                                    <div class="col-2">
                                        <span class="profile-rating">★★★★☆</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                    </div>

                </div>

            </div>
        </div>


    </div>
</div>